@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.App {
  text-align: center;
}

:root {
  --primary-dark:rgba(63, 63, 63, 0);
  --primary-orange:  rgb(246, 129, 12);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*******************Title Text *******************/
.title1 {
  margin-top: 1.5rem;
  font-family:fantasy;
  font-weight: bold;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color:rgb(97, 225, 123);
  text-shadow: 4px 4px 4px black;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/*******************Links *******************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:rgb(97, 225, 123) !important;
  text-shadow: 3px 3px 3px black;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar {
  background-image: linear-gradient(180deg, rgba(20, 20, 20, 0.975), rgb(39, 38, 38), rgb(63, 63, 63), rgba(73, 73, 73, 0.301), rgb(20, 20 , 20, 0.975));
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/******************* Header *******************/

.header-wrapper {
  position: relative;
  background: url(wall-and-laptop-background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;

}

.main-info h1 {
  color: rgb(234, 249, 237);
  text-shadow: 3px 3px 4px black;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .main-info h1 {
  font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 2rem !important;
  }

  .title1 {
    font-size: 2rem !important;
  }
  
}

.typed-text {
  font-size: 2rem;
  color: rgb(97, 225, 123);
  text-shadow: 3px 3px 4px black;
}

/*Header BTN */
.btn-main-offer {
  border: 1px solid rgb(246, 129, 12);
  background-image: linear-gradient(45deg,  rgba(247, 134, 6, 0.975), rgb(241, 146, 57), rgb(247, 217, 133));
  text-transform: uppercase;
  border-radius: 0.625rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  color: yellow;
  text-shadow: 2px 2px 3px black;
  font-weight: bold;
  translate: 2px 2px 2px;
  transition: 0.2s ease-in-out;
  background-image: linear-gradient(45deg,  rgba(111, 251, 4, 0.975), rgb(120, 245, 92), rgb(166, 245, 142));
}

/******************* About Me *******************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid rgb(120, 245, 92);
  box-shadow: 4px 4px 15px black;
}

.about-heading {
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.about-p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
  .about-heading, .about-p {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*******************Skills component*******************/
@media screen and (max-width: 640px) {
    .skillsGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      grid-auto-rows: auto;
      height: auto;
    }
  .skillsGrid img {
    box-shadow: 1px 1px 8px black;
    padding: 3px 3px 3px 3px;
    height: 55px;
    width: 55px;
  }
  .skills{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .skills-h {
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

/* Medium Screens min width 641px change to 4 columns */
@media screen and (min-width: 641px) {
  .skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    box-shadow: 1px 1px 10px black;
    padding: 3px 3px 3px 3px;
    height: 100px;
    width: 100px;
  }
  .skills{
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

  .skills-h {
    font-size: 1.5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 1080px) {
    .skillsGrid{

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      grid-auto-rows: auto;
      height: auto;
      margin-bottom: 5rem;
    }
  .skillsGrid img {
    box-shadow: 1px 1px 12px black;
    padding: 5px 5px 5px 5px;
    height: 130px;
    width: 130px;
  }
  .skills{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .skills-h {
    font-size: 2rem;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

/*******************Experience*********************/

.experience {
  padding: 0.7rem;
}

.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: rgb(120, 245, 92);
  box-shadow: 1px 1px 5px black;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border:  0.3125rem solid rgb(39, 38, 38);
  background-color:rgb(97, 225, 123);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: #282c34;
  direction: ltr;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  font-weight: 900;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(120, 245, 92);
  text-shadow: 1px 2px 3px black;

}

/***media queries***/
@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/*******************Porfolio*********************/

.portfolio-wrapper {
  background: rgb(234, 249, 237);
  padding: 3rem 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container h1 {
  font-weight: 900;
}

.portfolio-image {
  width: 15rem;
  height: 8.5rem;
  border: 1px solid rgb(120, 245, 92);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1.5rem;
}

/*******************Overflow*********************/

.overflow {
  position: absolute;
  opacity: 0;
  background: #61dafb;
  width: 15.5rem;
  height: 9rem;
  top: 0;
  border: 1px solid rgba(247, 134, 6, 0.975);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-image-box:hover {
  translate: 5px 5px ;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: rgba(247, 134, 6, 0.975);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*******************Overflow box*********************/

.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: rgb(120, 245, 92);
}

.hyper-link:hover {
  cursor: pointer;
  color: rgba(247, 134, 6, 0.975);
}

/*******************Popupbox*********************/






/*******************Popupbox Media Queries*********************/
@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 500px) {
  .popupbox-wrapper {
    height: 100% !important;
  }
  
  
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90% !important;
  }
  
  
  .portfolio-image-popupbox {
    width: 30%;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
